body {
    height: 100%;
    margin:0;
    width: 100%;
}

h1 {
    background-color:#D7CABC;
    box-shadow: 0px 0px 5px 0.5px #23001E;
    color: #23001E;
    font-family: "chelsea market";
    font-size:18px;
    letter-spacing: 15px;
    padding:10px 15px;
    margin:50px 0;
    min-width:260px;
}

main {
    align-items: center;
    display: flex;
    background: linear-gradient(180deg, bisque 20%, turquoise 50%);
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    text-align: center;
}

.puzzle {
    background-color: rgb(184, 202, 184);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0.5px rgb(184, 202, 184);
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:12px;
    margin:50px 0;
    max-height: 400px;
}

.chest {
    align-self: center;
    background: linear-gradient(
    transparent 40%, saddlebrown, black 42%, black 43%, transparent 43%),
    repeating-linear-gradient(tan, tan 9.6%, black 10%, tan 10.4%);
    border:1.5px solid burlywood;
    border-radius:3px;
    box-shadow: 0px 0px 3px 0.5px #23001E;
    color: gold;
    cursor: pointer;
    font-family: "cochin";
    font-size:20px;
    font-weight:bolder;
    justify-self: center;
    margin:12px;
    padding:25px 30px;
    text-align: center;
    text-shadow:0px 0px 2px #23001E;
}

.chest:hover {
    background: linear-gradient(
    transparent 10%, goldenrod 30%, saddlebrown 31%, black 32%, gold 40%, gold 43%, goldenrod 50%, transparent 72%),
    repeating-linear-gradient(tan, tan 9.6%, black 10%, tan 10.4%);
    text-shadow:0px 0px 2px darkgoldenrod;
}

@media (max-width: 1000px) {

    .chest {
        font-size: 18px;
        padding: 20px 25px;
        margin: 10px
    }

    h1 {
        font-size:17px;
        letter-spacing: 14px;
    }

    .puzzle {
        max-height:375px;
    }
    
}

@media (max-width: 500px) {
    
    .chest {
        font-size: 16px;
        padding: 18px;
        margin:8px;
    }
    
    h1 {
        font-size:16px;
        letter-spacing: 12px;
    }

    .puzzle {
        max-height:350px;
        padding:10px;
    }
}

