body {
    height: 100%;
    margin:0;
    width: 100%;
}

.chest {
    align-self: center;
    background: linear-gradient(180deg, 
    bisque 0.1%, transparent 20%, transparent 40%, saddlebrown 41%, black 42%, saddlebrown 42.5%, transparent 43%, transparent 80%, #B2936C 99.5%),
    repeating-linear-gradient(180deg,
    tan, tan 9.6%, black 10%, tan 10.4%);
    border-radius:3px;
    box-shadow: 0px 0px 3px 0.5px #23001E;
    color: gold;
    cursor: pointer;
    font-family: "cochin";
    font-size:20px;
    font-weight:bolder;
    justify-self: center;
    margin:12px;
    padding:25px 30px;
    text-align: center;
    text-shadow:0px 0px 2px #23001E;
    transition: 2s ease-in-out 0ms;
}

.chest:hover {
    text-shadow:0px 0px 2px gold;
    background: linear-gradient(180deg,
    bisque 0.1%, transparent 10%, goldenrod 30%, saddlebrown 31%, black 32%, gold 40%, gold 43%, goldenrod 48%, transparent 82%, transparent 90%, #B2936C 99.5%),
    repeating-linear-gradient(180deg,
    tan, tan 9.6%, black 10%, tan 10.4%);
    text-shadow:0px 0px 2px darkgoldenrod;
}

h1 {
    background-color:#D7CABC;
    box-shadow: 0px 0px 5px 0.5px #23001E;
    color: #23001E;
    font-family: "chelsea market";
    font-size:18px;
    letter-spacing: 15px;
    padding:10px 15px;
    min-width:260px;
    position:absolute;
    top:3rem;
}

h1, .chest, .ship {
    animation-name:wobble;
    animation-duration:15s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 100%;
}

main {
    align-items: center;
    clear:both;
    display: flex;
    background: linear-gradient(180deg, 
    bisque 20%, turquoise 50%, turquoise 83%, mediumturquoise 93%, darkturquoise 98%);
    flex-direction: column;
    height: 100vh;
    min-height: 665px;
    min-width: 100vw;
    /* min-width:480px; */
    justify-content: center;
    text-align: center;
}

.puzzle {
    background:linear-gradient(180deg, rgb(184, 202, 184) 85%, rgb(157, 175, 157));
    border-radius: 0px 0px 60px 60px;
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:12px;
    margin-top:50px;
    max-height: 400px;
}

.ship {
    position:absolute;
    top:10rem;
}

.ship-bottom {
    border-top: solid 1.5em rgb(157, 175, 157);
    border-left: solid 10em transparent;
    border-right: solid 10em transparent;
    height:0;
    position:absolute;
    bottom: -24px;
    left:85px;
}

.ship-left {
    border-left:solid 5em transparent;
    border-top:solid 350px rgb(184, 202, 184);
    border-radius: 10px 0px 0px 0px;
    height:0;
    left:-78px;
    top:50px;
    position:absolute;
}

.ship-right {
    border-radius: 0px 10px 0px 0px;
    border-right:solid 5em transparent;
    border-top:solid 350px rgb(184, 202, 184);
    height:0;
    right:-78px;
    top:50px;
    position:absolute;
}


@keyframes wobble {

    0% {
        transform: rotate(0deg);
    }
    25% {
        transform:rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@media (max-width: 1000px) {

    .chest {
        font-size: 18px;
        padding: 20px 25px;
        margin: 10px
    }

    h1 {
        font-size:17px;
        letter-spacing: 14px;
    }
    
    .puzzle {
        max-height:375px;
    }

    .ship-left {
        border-left:solid 3.8em transparent;
        border-top:solid 295px rgb(184, 202, 184);
        left:-59px;
    }

    .ship-right {
        border-right:solid 3.8em transparent;
        border-top:solid 295px rgb(184, 202, 184);
        right:-59px;
    }
    
    .ship-bottom {
        border-left: solid 9em transparent;
        border-right: solid 9em transparent;
        bottom:-23px;
        left:75px;
    }
}

@media (max-width: 585px) {

    body {
        overflow: hidden;
    }

    .chest {
        font-size: 16px;
        padding: 18px;
        margin:8px;
    }
    
    h1 {
        font-size:16px;
        letter-spacing: 12px;
    }

    .puzzle {
        max-height:350px;
    }

    .ship-left {
        border-left:solid 3em transparent;
        border-top:solid 250px rgb(184, 202, 184);
        left:-47px;
    }

    .ship-right {
        border-right:solid 3em transparent;
        border-top:solid 250px rgb(184, 202, 184);
        right:-47px;
    }

    .ship-bottom {
        border-left: solid 7em transparent;
        border-right: solid 7em transparent;
        bottom:-22px;
        left:68px;
    }
}

